.homepageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.homepageContent {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
/*  background-image: url("file:///C:/Users/freds/Downloads/twitter-social-media-svgrepo-com.svg")*/
}

.static-LoggedoutHompeage {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
}

.leftHomepage {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
  background: #1da1f2;
  overflow: hidden;
  position: relative;
}

.rightHomepage {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
  outline: 1px solid #036cdb !important;
}
.leftContent {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  max-width: 440px;
  padding: 0 16px;
  position: relative;
}

.leftContent div {
  margin: 48px auto;
}

.rightContent {
  max-width: 350px;
  /*flex: 1;*/
  display: block;
  /* align-items: center; */
  /* justify-content: center; */
  /* position: relative; */
}


.homepageIcon {
  font-size: 35px;
  margin-right: 16px;
  background: transparent;
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  position: relative;
  font-weight: lighter;
}

.homepageIconMiddle {
  font-size: 29px;
  margin-right: 16px;
  background: transparent;
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  position: relative;
  font-weight: lighter;
}

.contentRow {
  display: flex;
  line-height: 24px;
  margin: 48px auto;
}

.signupHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 16px auto;
}

.signupHeader a {
  color: #1da1f2;
  border: 1px solid #1da1f2;
  border-radius: 100px;
}

.signupHeader a:hover {
  background-color: #eaf5fd;
  text-decoration: none;
  color: #1da1f2;
}

.iconTwitter {
  color: #1da1f2;
  font-size: 45px;
  display: block;
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

.edgeLoginButton {
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  padding: 12px;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.signupTitle {
  font-weight: bold;
  font-size: 27px;
  line-height: 32px;
}

.signupSubTitle {
  font-size: 18px;
  line-height: 24px;
  margin: 48px auto 16px;
}

.homepageButtons {
display: block;
}

.signupButton {
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  background-color: #1da1f2;
  border: 1px solid #1da1f2;
  color: #fff;
  display: block;
  margin-bottom: 16px;
}

.loginButton {
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #1da1f2;
  color: #1da1f2;
  display: block;
  margin-bottom: 16px;
}

